<section>
    <div
        class="text-gray-300 flex flex-row justify-between xl:px-60 relative z-20 max-xl:justify-center"
    >
        <div
            class="flex flex-col pt-28 justify-center pb-20 max-xl:justify-center max-xl:items-center max-xl:text-center"
        >
            <p class="text-1xl text-[#dbff33] px-2 text-start">
                Sweet Today,Shine Tomorrow
            </p>
            <div class="text-8xl">
                <p class="font-extrabold">STRONGER</p>
                <p class="">EVERY DAY</p>
                <p class="font-extrabold">FITTER</p>
                <p class="">FOREVER</p>
            </div>
            <p class="pt-10 text-gray-600">
                Where fitness meets inspirations, and every drop of shoot
            </p>
            <div class="flex-row pt-10 space-x-5">
                <button class="w-36 h-12 bg-[#dbff33] text-black font-bold">
                    Get Started
                </button>
                <button class="w-36 h-12 border border-gray-400">
                    How It Works
                </button>
            </div>
        </div>
    </div>
    <div class="absolute z-1 flex justify-end">
        <img
            src="/img/bg.webp"
            alt=""
            class="rotate-180 ml-[1251px] -mt-[800px] h-[835px] max-xl:hidden"
        />
    </div>
    <div
        class="flex justify-end -mt-[1020px] relative max-xl:opacity-25 max-xl:absolute max-xl:items-center max-xl:justify-center"
    >
        <img
            src="/img/man.webp"
            alt="Image main"
            class="w-[700px] mr-52 max-xl:items-center max-xl:justify-center"
        />
    </div>
</section>

<style>
    button {
        border-radius: 10px 0px 10px 0px;
    }
</style>
