<section class="pt-5 flex flex-col justify-center items-center" id="schedules">
    <div class="flex flex-col justify-center items-center">
        <div class="gap-5 flex flex-col">
            <h2 class="text-[#dbff33] text-2xl text-center">Schedules</h2>
            <p class="text-5xl text-center">
                FROM MORNING TO NIGHT <br />
                <span class="font-extrabold"
                    >WE HAVE OPTIONS FOR EVERY MOMENT</span
                >
            </p>
        </div>
        <div class="flex items-center justify-center pt-20 pb-20">
            <div
                class="grid grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-14 "
            >
                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80  h-72 bor hover:-translate-y-9 duration-100 bg-slate-900 "
                    >
                        <h2 class="text-xl font-bold mb-2">Lunes</h2>
                        <ul class="text-gray-300">
                            <li>Yoga - 8:00 AM</li>
                            <li>Spinning - 10:00 AM</li>
                            <li>Zumba - 6:00 PM</li>
                        </ul>
                    </div>
                </div>

                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80 h-72 bor hover:-translate-y-9 duration-100 bg-slate-900"
                    >
                        <h2 class="text-xl font-bold mb-2">Martes</h2>
                        <ul class="text-gray-300">
                            <li>Pilates - 8:00 AM</li>
                            <li>Boxeo - 10:00 AM</li>
                            <li>CrossFit - 6:00 PM</li>
                        </ul>
                    </div>
                </div>

                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80 h-72 bor hover:-translate-y-9 duration-100 bg-slate-900"
                    >
                        <h2 class="text-xl font-bold mb-2">Miércoles</h2>
                        <ul class="text-gray-300">
                            <li>Aeróbicos - 8:00 AM</li>
                            <li>Spinning - 10:00 AM</li>
                            <li>Kickboxing - 6:00 PM</li>
                        </ul>
                    </div>
                </div>

                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80 h-72 bor hover:-translate-y-9 duration-100 bg-slate-900"
                    >
                        <h2 class="text-xl font-bold mb-2">Jueves</h2>
                        <ul class="text-gray-300">
                            <li>Yoga - 8:00 AM</li>
                            <li>HIIT - 10:00 AM</li>
                            <li>Zumba - 6:00 PM</li>
                        </ul>
                    </div>
                </div>

                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80 h-72 bor hover:-translate-y-9 duration-100 bg-slate-900"
                    >
                        <h2 class="text-xl font-bold mb-2">Viernes</h2>
                        <ul class="text-gray-300">
                            <li>Pilates - 8:00 AM</li>
                            <li>CrossFit - 10:00 AM</li>
                            <li>Boxeo - 6:00 PM</li>
                        </ul>
                    </div>
                </div>

                <div class="bor border bg-[#dbff33] border-[#dbff33]">
                    <div
                        class="border-2 p-20 rounded-lg border-[#A4C639] w-80 h-72 bor hover:-translate-y-9 duration-100 bg-slate-900"
                    >
                        <h2 class="text-xl font-bold mb-2">Sábado</h2>
                        <ul class="text-gray-300">
                            <li>Yoga - 9:00 AM</li>
                            <li>Aeróbicos - 11:00 AM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .bor {
        border-radius: 20% 0%;
    }
</style>
