<div
    class="relative z-100 bg-[#131414] text-black flex items-center justify-center pt-32 space-x-60 pb-32"
    id="about"
>
    <div class="flex flex-col gap-5">
        <h2 class="text-4xl font-bold text-white font-serif">
            Hello, we are MYGYM
        </h2>
        <p class="text-[20px] w-[550px] text-start text-gray-400">
            Meet our team of certified and passionate trainers dedicated to
            helping you achieve your fitness goals. From personal trainers to
            group class instructors, we're here to provide you with the support
            and guidance you need on your health and wellness journey.
        </p>
    </div>
    
</div>
