---
import Card from "./Card.astro";
---

<section class="pt-5">
    <div>
        <h2>Our Featured</h2>
        <p>
            <span>TRANSFORM</span> YOURBODY
        </p>
        <p>
            TRANSFORM <span>YOURLIFE!</span>
        </p>
        <div>
            <Card />
        </div>
        
    </div>
</section>
