<div
    class="bg-[#dbff33] w-full h-36 text-black font-bold text-5xl flex justify-center items-center"
>
    <div class="flex flex-row gap-52">
        <p>A</p>
        <p>B</p>
        <p>C</p>
        <p>D</p>
        <p>E</p>
    </div>
</div>
