---
import Card from "./Card.astro";
---

<section class="pt-5 flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center space-y-3 mt-32">
        <h2 class="text-[#dbff33] text-2xl">Our Featured</h2>
        <p class="text-5xl">
            <span class="text-5xl font-extrabold">TRANSFORM</span> YOURBODY
        </p>
        <p class="text-5xl">
            TRANSFORM <span class="text-5xl font-extrabold">YOURLIFE!</span>
        </p>
    </div>
    <div class="flex gap-10 mt-20 mb-20">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-10">
            <Card image="/img/man-gym.webp" title="GYM" />

            <Card image="/img/yoga.webp" title="YOGA" />

            <Card image="/img/woman-gym.webp" title="GAP" />
        </div>
    </div>
</section>
