---

---

<main>
    <div class="text-gray-300 flex justify-start pl-52">
        <div class="flex flex-col gap-2 pt-28">
            <p class="text-1xl text-gr pl-2">Sweet Today,Shine Tomorrow</p>
            <div class="text-8xl">
                <p class="font-extrabold">STRONGER</p>
                <p class="">EVERY DAY</p>
                <p class="font-extrabold">FITTER</p>
                <p class="">FOREVER</p>
            </div>
            <p class="pt-10">
                Where fitness meets inspirations, and every drop of shoot
            </p>
            <div class="flex-row space-x-5 pt-10">
                <button class="w-36 h-12 bg-[#dbff33] text-black font-bold">
                    Get Started
                </button>
                <button class="w-36 h-12 border border-gray-400">
                    How It Works
                </button>
            </div>
        </div>
        <div class="absolute z-10">
            <img src="/img/bg.webp" alt="" class="pr-[500px] -mt-36 rotate-180 h-[1000px]"/>
        </div>
        <div class="flex justify-center items-end pl-[100px] -mt-[495px] z-10">
            <img src="/img/man.webp" alt="Image main" class="w-[900px]" />
        </div>
    </div>
</main>
<style>
    button {
        border-radius: 10px 0px 10px 0px;
    }
</style>
