---

---
<main class="text-gray-300" id="home">
    <div class="relative h-screen bg-cover bg-center">
        {/* Capa de color semitransparente */}
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        {/* Contenido */}
        <div
            class="absolute inset-0 flex flex-col justify-center items-center space-y-7"
        >
            <p class="text-2xl text-center text-gray-300">
                new way to build a healthy lifestyle!
            </p>
            <h1
                class="text-5xl w-[700px] text-center text-white font-extrabold font-serif"
            >
                UPGRADE YOUR BODY AT GYMSO FITNESS
            </h1>
            <div class="flex gap-10 mt-7">
                <button class="text-white rounded">GET STARTED</button>
                <button class="text-[#A4C639] border border-[#A4C639] h-14 w-32"
                    >LEARN MORE</button
                >
            </div>
        </div>
    </div>
</main>
