<div class="max-md:mt-32">
    <div class="justify-center items-center -mt-[920px] opacity-25 md:hidden">
        <img
            src="/img/man.webp"
            alt="Image main"
            class="w-[700px] mr-52 max-xl:items-center max-xl:justify-center"
        />
    </div>
    <div
        class="bg-[#dbff33] h-36 text-black font-bold text-5xl flex justify-center items-center relative"
    >
    </div>
</div>
