---
import Instagram from "@/icons/Instagram.astro";
import Facebook from "@/icons/Facebook.astro";
---

<footer
    class="flex justify-evenly items-center border-t border-[#dbff33] p-10 gap-[800px] "
>
    <p class="text-2xl">GYM &copy; 2024 | Al rigth reserved</p>
    <div class="flex gap-5">
        <Instagram />
        <Facebook />
    </div>
</footer>
