---
import Instagram from "@/icons/Instagram.astro";
import Facebook from "@/icons/Facebook.astro";
---

<header>
    <nav
        class="h-24 items-center justify-evenly flex relative z-20 bg-slate-900"
    >
        <div class="flex">
            <p class="text-white text-3xl">GYM</p>
        </div>
        <div class="bg-slate-900">
            <ul class="flex flex-row space-x-20 text-white text-[19px]">
                <li><a href="/">Home</a></li>
                <li><a href="#featured">Featured</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#schedules">Schedules</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="flex gap-5">
            <Instagram />
            <Facebook />
        </div>
    </nav>
</header>
<style>
    @media(width <= 920px){
        {
            
        }
    }
</style>