<header>
    <nav class="w-full h-20 justify-around items-center flex">
        <div class="flex ">
            <p class="text-white">GYM</p>
        </div>
        <ul class="flex flex-row space-x-20 text-white">
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Classes</a></li>
            <li><a href="">Schedules</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div>
            a
        </div>
    </nav>
</header>
